<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{ fragments/fragments :: head}"></div>
    <title>Tickets</title>
</head>


<body>
    <header class="container">
        <nav th:replace="~{fragments/navbar :: navbar('Tickets')}"></nav>
    </header>

    <main class="container">
        <section class="row justify-content-center">
            <div class="col-12">
                <h1 class="card-title mb-3">
                    Crea un nuovo ticket
                </h1>

                <!--form creazione ticket-->
                <form class="row g-3" id="ticket-form" th:object="${ticket}" th:action="@{/tickets/create}"
                    method="post">
                    <div class="col-mb-3">
                        <label for="dataCreazione">Data creazione:</label>
                        <input type="datetime-local" id="dataCreazione" name="dataCreazione" th:field="*{dataCreazione}">
                        <div th:if="${#fields.hasErrors('titolo')}" class="invalid-feedback">
                            <ul>
                                <li th:each="error : ${#fields.errors('titolo')}" th:text="${error}" />
                            </ul>
                        </div>
                        <div>
                            <label for="titolo" class="form-label">Titolo:</label>
                        <input class="form-control" type="text" name="titolo" id="titolo" th:field="*{titolo}"
                            th:errorClass="is-invalid">
                        <div th:if="${#fields.hasErrors('titolo')}" class="invalid-feedback">
                            <ul>
                                <li th:each="error : ${#fields.errors('titolo')}" th:text="${error}" />
                            </ul>
                        </div>
                        </div>
                        <div class="col-md-12">
                            <label for="contenuto" class="form-label">Contenuto:</label>
                            <textarea class="form-control" id="contenuto" th:field="*{contenuto}"
                                th:errorClass="is-invalid" rows="3"></textarea>
                            <div th:if="${#fields.hasErrors('contenuto')}" class="invalid-feedback">
                                <ul>
                                    <li th:each="error : ${#fields.errors('contenuto')}" th:text="${error}" />
                                </ul>
                            </div>
                            <label for="stato" class="form-label">Stato</label>
                            <select id="stato" name="stato" class="form-select" required>
                                <option selected>Seleziona lo stato del ticket</option>
                                <option value="Da fare">Da fare</option>
                                <option value="In corso">In corso</option>
                                <option value="Completato">Completato</option>
                              </select>
                            <div class="col-md-4">
                                <label for="operatore" class="form-label">Operatore</label>
                                <select id="operatore" name="operatoreId" class="form-select">
                                    <option selected>Seleziona</option>
                                    <th:block th:each="operatore : ${operatori}">
                                        <option th:value="${operatore.id}" th:text="${operatore.nome}"></option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="categoria" class="form-label">Categoria</label>
                                <select id="categoria" name="categoriaId" class="form-select">
                                    <option selected>Seleziona</option>
                                    <th:block th:each="categoria : ${categorie}">
                                        <option th:value="${categoria.id}" th:text="${categoria.nome}"></option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                        Chiuso
                                    </label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Crea ticket</button>
                            </div>
                </form>
        </section>
</body>

</html>