<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{ fragments/fragments :: head}"></div>
    <title>Tickets</title>
</head>


<body>
    <header class="container">
        <nav th:replace="~{fragments/navbar :: navbar('Tickets')}"></nav>
    </header>
    <main class="container">
        <section class="row">
            <div class="card" th:object="${ticket}">
                <h5 class="card-header">Dettaglio ticket</h5>
                <div class="card-body">
                    <h5 class="card-title" th:text="*{titolo}">Titolo ticket</h5>
                    <p class="card-text">Contenuto ticket: [[*{contenuto}]]</p>
                    <p class="card-text badge bg-info">Stato: [[*{stato}]]</p>
                    <p class="card-text">Categoria: [[*{Categoria.nome}]]</p>
                    <p class="card-text">Assegnato a: [[*{operatore.nome}]]</p>
                    <h5 class="card-title">Note</h5>
                    <div th:if="${#lists.isEmpty(ticket.note)}">
                        <p>Non ci sono note per questo ticket</p>
                    </div>
                    <div th:unless="${#lists.isEmpty(ticket.note)}">
                        <ul>
                            <li th:each="note : ${ticket.note}">
                                <p th:text="${note.dataCreazione} + ${note.contenuto}"></p>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <form th:action="@{/tickets/add-nota/{ticketId}(ticketId=${ticket.id})}" method="post">
                            <textarea name="contenuto" id="contenuto" placeholder="Aggiungi una nota..."></textarea>
                            <button type="submit">Aggiungi nota</button>
                        </form>
                    </div>
                    <a th:href="@{/tickets}" class="btn btn-primary">Torna ai ticket</a>
                </div>
            </div>
        </section>
    </main>
</body>

</html>