<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <!-- navbar fragment -->
    <nav th:fragment="navbar(current)"
        class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/tickets}">I miei tickets</a>
            <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navContent"
                aria-controls="navContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link"
                            th:href="@{/tickets}" th:classAppend="${current == 'tickets'} ? active : not-active">Tickets</a>
                    </li>
                </ul>
                <div class="user-info">
                    Logged user: <span sec:authentication="name" class="fw-bold me-2"></span>
                    Roles: <span sec:authentication="principal.authorities" class="fst-italic me-2"></span>
                    <a class="btn btn-sm btn-outline-primary" href="/logout">Sing out</a>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>